html
    head
        title Quick Serve
        // fonts and css
        link(href="css/main.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
        // link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
        // script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
    body
        #banner
            h1 Quick Serve
            h3 Continuos Deployment just got a whole lot quicker.
            #terminal
                p $ ./quickserve *port* 
        #features
            h1 Features
            .third
                i.icon.material-icons security
                h3 Secure connections
                p Quick erve uses secure shell to port tunnel guaranteed safety.
            .third
                i.icon.material-icons whatshot
                h3 Fast prototyping
                p The fastest way to test your plataform anywhere.
            .third
                i.icon.material-icons devices_other
                h3 Multiple device testing 
                p A quick and efficient way to test your website in multiple plafaroms and get feedback form your customers.
